{% extends "application/base.html" %}
{% load crispy_forms_tags %}


{% block title %} <title> Password change done </title> {% endblock title %}

{% block content %}

{% if user.is_authenticated %}

<h2 class="font-weight-bold mt-3">Your password has been updated.</h2>

<hr>
<br>
<span>Still want to update your account info?</span>
<a href="/profile" class="btn btn-primary">Back to profile</a>


{% else %}

<div class="content-section">
    You need to be logged in in order to access this page.

</div>
<hr>
<div class="border-top pt-3">
    <small class="text-muted">

        <a class="ml-2" href="{% url 'login' %}">Log in</a>
    </small>
</div>

{% endif %}


{% endblock %}