{% extends "application/base.html" %}

{% block title %} <title> About | Rekon </title> {% endblock %}

{% block content %}

    <div class="flex min-h-screen bg-white" style="min-height: 90vh; justify-content: center;">
        <div class="w-1/2 bg-cover md:block hidden"
            style="margin-right: 20px; box-sizing:border-box; background-image:  url(https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
        </div>
        <div class="content-section" style="width: 50%; text-align: justify;">
            <legend class="border-bottom mb-4">About</legend>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas rutrum volutpat. Nam at sapien sollicitudin erat volutpat porttitor a in lacus. In quis leo id metus maximus porta a at magna. Sed iaculis aliquam mattis. Morbi nisi risus, elementum id dapibus a, ultricies eu risus. Phasellus pulvinar dignissim tortor, non lacinia turpis dapibus sed. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
    </div>

{% endblock content %}