{% extends "application/base.html" %}
{% load crispy_forms_tags %}

{% block title %} <title> Login </title> {% endblock title %}

{% block content %}


<style>

</style>

{% if user.is_authenticated %}

<div class="content-section">
    You are already logged in.

</div>
<hr>
<div class="border-top pt-3">
    <small class="text-muted">

        <a class="ml-2" href="{% url 'logout' %}">Log out</a>
    </small>
</div>

{% else %}

<br>
<div class="flex min-h-screen bg-white" style="min-height: 90vh; justify-content: center;">

    <div class="w-1/2 bg-cover md:block hidden"
        style="margin-right: 20px; box-sizing:border-box; background-image:  url(https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=635&q=80)">
    </div>



    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
                <small class="text-muted">The fields marked with * are mandatory </small>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login using Face ID</button>
            </div>
        </form>
        
    </div>
</div>

{% endif %}

{% endblock content %}